body{
    text-align: center;
}
.app-heading{
    /* text-align:center; */
    margin: 15px;
}
th, td {
     text-align:center;     
}
.no-border{
    border: none !important;
}
.live{
     display: table-row; 
    /* display: none; */

}
.edit, .new{
    /* display: table-row; */
    
     display: none; 
}
.mb-10{
    margin-bottom: 10px
}